<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<header>
    <h1> Say hi to animal</h1>
</header>
  <body>

   <h1>Animal: {{animals.name}}</h1>
   <h2> Breed :{{animals.breed}} </h2>
   <h2> Food they like :{{animals.food}} </h2>

<div class="update">
     <a href="/animals/{{animals._id}}/edit">Edit</a>
     <a href="/animals/{{animals._id}}/delete">Remove</a>

  </body>
</html>
