<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>EDIT animal</h1>

    <form class="" action="/animals/{{animals._id}}" method="post">
      <div class="">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{animals.name}}">{{#errors.name}}Name is required{{/errors.name}}
      </div>

      <div class="">
        <label for="breed">breed</label>
        <input type="text" name="state" value="{{animals.breed}}">{{#errors.state}}State is required{{/errors.state}}
      </div>


      <div class="">
        <label for="food">food they like</label>
        <input type="text" name="food" value="{{animals.food}}">{{#errors.state}}State is required{{/errors.state}}
      </div>

      <button type="submit" name="button">Update Animal</button>
    </form>


  </body>
</html>
